.main-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px; /* Largeur de votre div */
  height: 280px; /* Hauteur de votre div */
  background-color: rgb(175, 207, 177); /* Couleur de fond de votre div */
  text-align: left; /* Pour centrer le contenu texte à l'intérieur de la div */
  padding: 30px; /* Espacement interne pour le contenu */
  border-radius: 20px; /* Coins arrondis de 10 pixels */
  
}

.image-un{
  position: absolute;
  top: 13%;
  left: 62%;
  transform: rotate(205deg); /* Fait pivoter l'image de 45 degrés */
  width: 40%;
}

.image-deux{
  position: absolute;
  top: 73%;

  transform: rotate( 22deg); /* Fait pivoter l'image de 45 degrés */
  width: 40%;
}

.form-group{
    margin-bottom: 20px;
 }

 .custom-input {
  width: 100%; /* Largeur du champ de saisie en pixels */
  height: 45px; /* Hauteur du champ de saisie en pixels */
}

.custom-submit{
  text-align: center;
  position: absolute;
  left: 62%;
}

.custom-submit button{
  border-radius: 15px; /* Coins arrondis de 10 pixels */
  padding: 4px 8px;
  background-color: rgb(170, 161, 111);
 
}

.alert{
  font-size: 20px;
  border-radius: 20px;
  margin: 59px 24px;
  padding: 15px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: beige;
  color: rgb(0, 0, 0);
  position: fixed;
  z-index: 100; /* Assurez-vous que ce z-index est supérieur à celui des autres éléments de la page */
}