.all{
  background-image: url('https://us.123rf.com/450wm/foreverrich/foreverrich1705/foreverrich170500312/78766739-fond-clair-blanc-d%C3%A9grad%C3%A9-bleu-clair.jpg'); /* Chemin vers votre image */

  background-size: cover; /* Couvre entièrement la div, peut être ajusté */
  background-repeat: no-repeat; /* Pour éviter que l'image se répète */
  background-position: center center; /* Positionne l'image au centre */
  width: 100%; /* Largeur de la div */
  height: 100vh; /* Hauteur de la div */
  position: relative; /* Position relative pour le placement */
}

.titreImage{
  background-image: url('https://i.pinimg.com/564x/8f/ac/0a/8fac0a03fc04d7432ca55355ce22fb20.jpg'); /* Chemin vers votre image */

  background-size: cover; /* Couvre entièrement la div, peut être ajusté */
  background-repeat: no-repeat; /* Pour éviter que l'image se répète */;
  background-position: center center; /* Positionne l'image au centre */
  width: 100%; /* Largeur de la div */
  height: 60%;/* Hauteur de la div */
  position: relative; /* Position relative pour le placement */
  transition: background-image 0.5s ease-in-out;
}



.main-section{

  background-image: linear-gradient(to right, #ffffff, #f0f0f0, #d6e4f0);


  background-size: cover; /* Couvre entièrement la div, peut être ajusté */
  background-repeat: no-repeat; /* Pour éviter que l'image se répète */;
  background-position: center center; /* Positionne l'image au centre */
position: fixed;
z-index: 2;
  width: 100%; /* Largeur de votre div */
top : 50%;
font-size: 110%;
  text-align: left; /* Pour centrer le contenu texte à l'intérieur de la div */
  padding: 30px; /* Espacement interne pour le contenu */
  padding-top: 20%;
  border-radius: 30px 30px 0 0; /* Coins arrondis de 25 pixels sur le haut gauche et le haut droit */

  
}

input {
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none !important;
}


.form-group{
    margin-bottom: 20px;
 }

 .custom-input {
  width: 80%; /* Largeur du champ de saisie en pixels */
}




.custom-submit{
  padding-top: 12%;
  text-align: center;
}

.custom-submit button{
  border-radius: 15px; /* Coins arrondis de 10 pixels */
  padding: 6px 12px;
  background-color:rgb(34, 139, 34);
 
}

.form-groupUnite{
   border-bottom: 1px solid rgb(0, 0, 0); /* Ajoute une bord*/
}


.form-groupUnite.active {
  border-bottom: 1px solid green; /* Nouvelle couleur de bordure */
}
.alert{
  left: 12%;
  top: 42%;
  font-size: 20px;
  border-radius: 15px !important;
  border: 1px solid rgb(0, 0, 0)!important;
  margin: 59px 24px;
  padding: 15px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: rgb(248, 248, 238);
  color: rgb(0, 0, 0);
  position: fixed !important;
  z-index: 100; /* Assurez-vous que ce z-index est supérieur à celui des autres éléments de la page */
}

label{
  font-size: 90%;
  color:grey;
}