.couleur{
    color: black;
    text-transform: capitalize;
}
.couleur1{
    color: rgb(242, 231, 231);
}
.style1{
	border: 3px solid #130101;
}
.pad{
    padding-block-start: 0px; 
    writing-mode: horizontal-tb;
}
.box {
    position:relative;
}
.bet_time {
    position:absolute;
    bottom:0;
    right:0;
}
label{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
#multipleSelect{
    max-width: 100%;
    width: 350px;
}
.vscomp-toggle-button{
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
}
.rouge{
    color: rgb(244, 25, 5);
}
.rouge1{
    color: rgb(245, 26, 6);
}

.campagneContainerInner{
    background-color: var(--light);
}

.campagneTitle{
    text-align: center;
}

.contentEnd{
    margin-left: auto;
}
.campHistory ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.campHistory ul:nth-child(even){
    background-color: var(--light);
}
.camp{
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
    width: 100%;
}
.camp:hover{
    background-color: var(--primary);
}
.camp:hover h4{
    color: var(--lighter);
}

.myBtn{
    width: max-content;
    background-color: var(--primary) !important;
    font-family: 'PTSansNarrow-Regular';
    color: var(--lighter);
    border-radius: 5%;
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    .campagneContainer{
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 150px auto 50px auto;
        border-radius: 2%;
        background-color: var(--light) !important;
        font-size: 30;
        width: 80%;
        text-align: center;
    }
    .campagneTitle h1{
        font-size: 60;
        margin: 10px 0 50px 0;
    }
    .campHistory{
        background-color: var(--lighter);
        height: 300px;
        border-radius: 2%;
        overflow-y: scroll;
        overflow-x: none;
        width: 90%;
        margin: 0 auto;
    }
    .contentEndText{
        text-align: end;
        margin-top: 10px;
    }
}
/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    .campagneContainer{
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 150px auto 50px auto;
        border-radius: 2%;
        background-color: var(--light) !important;
        font-size: 30;
        width: 80%;
        text-align: center;
    }
    .campagneTitle h1{
        font-size: 60;
        margin: 10px 0 50px 0;
    }
    .campHistory{
        background-color: var(--lighter);
        height: 300px;
        border-radius: 2%;
        overflow-y: scroll;
        overflow-x: none;
        width: 90%;
        margin: 0 auto;
    }
    .contentEndText{
        text-align: end;
        margin-top: 20px;
    }
}
/* Pc */
@media only screen
and (min-width : 1224px) {
    /* Styles */
    .campagneContainer{
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 300px auto 200px auto;
        padding: 50px 100px 100px 100px;
        border-radius: 2%;
        background-color: var(--light) !important;
        font-size: 30;
        width: 80%;
    }
    .campHistory{
        background-color: var(--lighter);
        height: 300px;
        border-radius: 2%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;
    }
    .campagneTitle h1{
        font-size: 80;
        margin: -10px 0 50px 0;
    }
    .contentEndText{
        margin-top: 20px;
    }
}