.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 80%;
    height: 80%;
    overflow: auto;
    
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 213, 213, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    
    width: 60%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

h2 {
    color: #333;
}

p {
    color: #555;
}


/* Styles pour les appareils mobiles (largeur d'écran maximale de 768px) */
@media (max-width: 768px) {
    .modal {
       
    }

    .modal-content {
       
       
    }

    /* Ajoutez d'autres styles pour personnaliser le modal mobile ici */
}
