.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    margin-left: 15%;
    margin-right: 15%;
    width: auto !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional shadow */
}

.modal.modal-filtre-recherche .modal-content {
    width: auto; /* Ou une autre valeur selon vos besoins */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

h2 {
    color: #333;
    margin-bottom: 20px; /* Adjust as needed */
}

/* Add styles for input fields, buttons, etc., as needed */


/* Styles pour les appareils mobiles (largeur d'écran maximale de 768px) */
@media (max-width: 768px) {
    .modal {
       
    }

    .modal-content {
       
       
    }

    /* Ajoutez d'autres styles pour personnaliser le modal mobile ici */
}
