Body{
    background-color: rgb(155, 13, 13);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;;
}

.accueil-titre{
    background-color:rgb(11, 35, 65);
    padding: 8px 10px;
    border-top: 1px solid rgb(120, 198, 224); /* Bordure en haut de l'élément */
    border-bottom: 1px solid rgb(120, 198, 224);/* Bordure en bas de l'élément */
    display: flex;
}

.accueil-titre h2{
    margin-right: 17px;
    color:rgb(120, 198, 224);
}

.accueil-formulaire{
}

.formulaire {
    margin : 30px 20px;
    border: 2px   solid #1E492D; /* Bordure en bas de l'élément */
    padding: 8px 5px;
    border-radius: 10px ;
    background-color:#e0e0e0;
    color :black;
}



.custom-span{
    font-size: 13px;
    font-weight: 600;
    padding: 5px 5px;
}

