.formulaire-section{
 
}

.btn-filtre{
    padding: 3px;
    background-color: transparent;
    color: green;
}

.historique-section {
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 8px 5px;
    margin: 15px 5px;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 400px;
    border: 2px solid #1E492D; /* Largeur de la bordure de 4 pixels (vous pouvez ajuster cette valeur) */
}

.historique-unite {
    border-radius: inherit;
    background-color: inherit;
    padding: inherit;
    margin: inherit;
    display: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-content: inherit;
    justify-content: inherit;
    text-align: center; /* Centrer le texte horizontalement */
    max-width: inherit;
    border-bottom: 2px solid #000; /* Largeur de la bordure de 4 pixels (vous pouvez ajuster cette valeur) */
    border-left: 2px solid #000; /* Largeur de la bordure de 4 pixels (vous pouvez ajuster cette valeur) */
    border-color: #63BC55;
    color: #000000;
    text-align: center; /* Centre le contenu */
}

.statut-container{
    color: grey;
}

.statut-container, .formulaire-info, .date-container {
    text-align: center;
    margin-bottom: 5px; /* Réduisez l'espace sous le statut */
}

.formulaire-info {
    display: flex; /* Utilise Flexbox */
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; /* Alignement vertical au centre */
    width: 100%; /* Assure que le conteneur occupe toute la largeur disponible */
    padding: 0 10px; /* Ajoute un peu d'espace sur les côtés */
    margin-top: 5px; /* Réduisez l'espace au-dessus des informations du formulaire */
}

.formulaire-info h5 {
    margin: 0; /* Enlève la marge par défaut du h5 */
    text-align: left; /* Alignement du texte à gauche */
    padding: 0 10px; /* Ajoute de l'espace autour du texte pour éviter qu'il ne touche les icônes */
}




.left-fontAwesome{
    margin-right: 10px;
    font-size: 140%;
}

.right-fontAwesome{
    margin-left: 10px;
    font-size: 220%;
    margin-left: 20px;
    color: green;
}

.right-fontAwesome2{
    margin-left: 10px;
    font-size: 220%;
    margin-left: 20px;
    color:red;
}

.historique-section span{}

   



.historique-section h5{
    max-width: 220px;
}
