.formulaire-section{
 
}

.btn-filtre{
    padding: 3px;
}

.historique-section{
    border-radius: 10px;
    background-color: beige;
    padding: 8px 5px;
    margin: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 400px;
}
   
.historique-unite{
    border-radius: inherit;
    background-color: inherit;
    padding: inherit;
    margin: inherit;
    display: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-content: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: inherit;
    max-width: inherit;
    border-bottom: 2px solid #000; /* Largeur de la bordure de 4 pixels (vous pouvez ajuster cette valeur) */
    border-left: 2px solid #000; /* Largeur de la bordure de 4 pixels (vous pouvez ajuster cette valeur) */
    border-color:  rgb(0, 118, 213);
}

.left-fontAwesome{
    margin-right: 10px;
    font-size: 140%;
}

.right-fontAwesome{
    margin-left: 10px;
    font-size: 220%;
    margin-left: 20px;
    color: green;
}

.right-fontAwesome2{
    margin-left: 10px;
    font-size: 220%;
    margin-left: 20px;
    color:red;
}

.historique-section span{}

   



.historique-section h5{
    max-width: 220px;
}
