.p ,h1 , h2 , h4, h5, h3{
    color: black; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}





.un_Row{
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 40px 40px;
    background-color: rgba(120,112,118,255);
}

.deux_col_1{
    border-radius: 20px 20px;
    border: 2px solid black;
    margin-right: 10px;
    border-right:solid;
}

.deux_trois button{
    display: inline-block;
    border-radius: 15px;
    background-color:  #DD7608;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.titre{
    background-color: #DD7608;
}
.titre:hover{
    background-color: #4d3838;
  
}


.deux_deux .titre{
border-top-left-radius: 20px; 
border-top-right-radius: 20px; 
padding-top: 20px;
padding-bottom: 20px;
}

.campagne:hover{
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}







