@font-face {
    font-family: 'Alumni Sans Extra Bold'; /* Nom de la police personnalisée */
    src: url('fonts/Alumni_Sans/static/AlumniSans-ExtraBold.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
    /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
    font-weight: normal; /* Normal (non-gras) */
    font-style: normal; /* Style normal (non-italique) */
  }
  
  @font-face {
    font-family: 'Alumni Sans Medium'; /* Nom de la police personnalisée */
    src: url('fonts/static/AlumniSans-Medium.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
    /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
    font-weight: normal; /* Normal (non-gras) */
    font-style: normal; /* Style normal (non-italique) */
  }
  
  @font-face {
    font-family: 'Poppins'; /* Nom de la police personnalisée */
    src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
    /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
    font-weight: normal; /* Normal (non-gras) */
    font-style: normal; /* Style normal (non-italique) */
  }
    

#menu__toggle {
opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
position: relative;
right: 18px;
width: 30px;
height: 26px;
cursor: pointer;
z-index: 1;
top: 15px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 3px;transition-duration: .25s;
animation: movingBackground 10s linear infinite;
background: linear-gradient(50deg, rgb(120, 198, 224), green ,#0B2341);
background-size: 200% 200%;
}

@keyframes movingBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.menu__btn > span::before {
content: '';
top: -8px;
}

.menu__btn > span::after {
content: '';
top: 8px;
}

.menu__box {
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  font-family: 'Alumni Sans Medium', sans-serif;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.712);
  transition-duration: .7s;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.menu__item {
display: block;
padding: 5px 15px;
color: #ffffff; /* Couleur de texte pour un bon contraste */
font-size: 20px;
text-decoration: none;
transition-duration: .25s;
}


  

.menu__item i {
    margin-right: 30px; /* Ajouter une marge à droite à l'icône pour l'espace */
    color: #0B2341;
}

.menu__item:hover {
background-color: #0B2341;
}

