
 /*----------------------*/

 @font-face {
  font-family: 'Alumni Sans Extra Bold'; /* Nom de la police personnalisée */
  src: url('fonts/Alumni_Sans/static/AlumniSans-ExtraBold.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
  /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
  font-weight: normal; /* Normal (non-gras) */
  font-style: normal; /* Style normal (non-italique) */
}

@font-face {
  font-family: 'Alumni Sans Medium'; /* Nom de la police personnalisée */
  src: url('fonts/Alumni_Sans/static/AlumniSans-Medium.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
  /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
  font-weight: normal; /* Normal (non-gras) */
  font-style: normal; /* Style normal (non-italique) */
}

@font-face {
  font-family: 'Poppins'; /* Nom de la police personnalisée */
  src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype'); /* Chemin vers le fichier de police TTF */
  /* Autres propriétés de la police, comme le poids (weight) et le style (style) */
  font-weight: normal; /* Normal (non-gras) */
  font-style: normal; /* Style normal (non-italique) */
}

body{
 /* margin: auto;
  max-width:420px;*/
}
  
.department {
  font-size: 1.1rem; /* Taille de texte plus grande pour le département */
  font-family: 'Alumni Sans Extra Bold', sans-serif; /* Utiliser la police Alumni Sans et de secours sans-serif */
  color: rgb(0, 0, 0);
}

.employee {
  font-size: 0.9rem; /* Taille de texte plus petite pour le nom de l'employé */
  font-family: 'Alumni Sans Medium', sans-serif; /* Utiliser la police Alumni Sans et de secours sans-serif */
  color: rgb(0, 0, 0);
}

  .logo-marge-10{
    margin: 5px;
  }

.prenav-in{
  display: none;
}

 

/*----------   VUE SUR HTML-------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  /* Autres styles de la navbar */
}

.left-section {
  display: flex;
  align-items: center;
}

.department-name {
  display: flex;
  flex-direction: column;

  /* Autres styles pour le département et le nom de l'employé */
}

.center-section{
}


.bar {
  width: 30px;
  height: 3px;
  background-color: #6c83b3; /* Couleur des barres */
  margin: 6px 0;
  transition: transform 0.3s ease-in-out;
}

.div-connexion{
  margin-right: 40px;
  font-family: 'Alumni Sans Extra Bold', sans-serif;
  color: white;
}




/* Styles pour la navbar en mode mobile (écran étroit) */
@media (max-width: 768px) {
  .prenav-in{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre */
    color: white;
    padding: 8px ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: fixed; /* Rend la barre de navigation fixe */
    top:0px;
    width: 100%;
    display: flex;
    
  }

  .navbar {
      display: flex;
      flex-wrap: wrap; /* Permettre le passage à la ligne des éléments */
      justify-content: space-between; /* Espacement égal entre les éléments */
      align-items: center; /* Centrer verticalement */
      padding: 5px; /* Espacement interne pour l'espacement entre les éléments */
      background-color: rgb(0, 118, 213);
      overflow: hidden; /* Masquer le débordement horizontal */
      position: fixed; /* Rend la barre de navigation fixe */
      width: 100%; /* Largeur de la barre de navigation à 100% de la largeur de la fenêtre */
      top: 5.5%;
     display: flex;
  }

 

  .left-section {
      flex: 3.5; /* Prend 2/12 de la largeur totale (logo et département/nom) */
      display: flex;
      align-items: center;
  }

  .center-section {
      flex: 2; /* Prend 4/12 de la largeur totale (section utilisateur centrée) */
      display: flex;
      align-items: center; /* Centrer verticalement */
  }

  .user-notifications {
    
  }

  .right-section {
      flex: 2; /* Prend 2/12 de la largeur totale (hamburger) */
      display: flex;
      align-items: center;
  }

  .footer-section{
    
 
 
    text-align: center;
    background-color:#eeeef0;
    padding-top:40px;
    padding-bottom: 20px;
}

  .encadre-backgroundUn{
    background-color: #ffffff;
    padding: 0px 45px;
    margin: 10px 25px;

  }
  .encadre-background{
    background-color: #ffffff;
    padding: 5px 0px;
    margin: 10px 25px;

  }
  /* Autres styles pour le logo, département, nom de l'employé, cercle utilisateur, hamburger, etc. */
}



/* Styles pour la navbar sur des écrans plus grands */
@media (min-width: 769px) {
  .navbar {
      /* Utilisez les mêmes styles que pour la vue mobile ici */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: rgb(176, 202, 59);
  }

  .left-section {
    flex: 4.9; /* Prend 2/12 de la largeur totale (logo et département/nom) */
    display: flex;
    align-items: center;
}

.center-section {
    flex: 2; /* Prend 4/12 de la largeur totale (section utilisateur centrée) */
    display: flex;
    align-items: center; /* Centrer verticalement */
}

.user-notifications {
  
}

.right-section {
    flex: 2; /* Prend 2/12 de la largeur totale (hamburger) */
    display: flex;
  
    align-items: center;
}

/* Autres styles pour le logo, département, nom de l'employé, cercle utilisateur, hamburger, etc. */
}

