#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 30px;
    color: whitesmoke;
    
  }

  input[type=text] {
     
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.30s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */


 #list{
   font-size:  20px;
   margin-left: 90px;
  }

.animals{
  display: list-item;    
 } 