@import url(https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans);
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffff0;
}

aside {
  position: relative;
  display: block;
  height: 66vh;
  overflow: hidden;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 45px;
  text-align: center;
  padding: 5em;
  box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
  -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
  -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
  -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
  -webkit-animation: shadow 1s linear forwards;
  -moz-animation: shadow 1s linear forwards;
  animation: shadow 1s linear forwards;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

@-moz-keyframes shadow {
  from {
    box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    max-width: 0em;
  }
  to {
    box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    max-width: 30em;
  }
}

@keyframes shadow {
  from {
    box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    max-width: 0em;
  }
  to {
    box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    max-width: 30em;
  }
}

@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    -o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
    max-width: 0em;
  }
  to {
    box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    -o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
    max-width: 30em;
  }
}

header img {
  width: 10em;
  opacity: 0;
  border-radius: 50%;
  box-shadow: .25em .25em .75em 0 #999;
  -webkit-box-shadow: .25em .25em .75em 0 #999;
  -moz-box-shadow: .25em .25em .75em 0 #999;
  -o-box-shadow: .25em .25em .75em 0 #999;
  -webkit-animation: circle .5s linear forwards;
  -moz-animation: circle .5s linear forwards;
  animation: circle .5s linear forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -kthtml-transition: all .5s ease;
  transition: all .5s ease;
}

@-webkit-keyframes circle {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@-moz-keyframes circle {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes circle {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

header img:hover {
  box-shadow: -.25em .25em .75em 0 #999;
  -webkit-box-shadow: 0em 0em 1em 0 #999;
  -moz-box-shadow: -.25em .25em .75em 0 #999;
  -o-box-shadow: -.25em .25em .75em 0 #999;
  
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -kthtml-transition: all .5s ease;
  transition: all .5s ease;
}

header {
  font: 1.25em/1em poiret one, sans-serif;
  letter-spacing: .5em;
  text-transform: uppercase;
  color: #000000;
}

header h2 {
  font-size: .75em;
  color: #000000;
}

.profile-bio {
  font: 1.3em/1.25em open sans, sans-serif;
  font-variant: small-caps;
  letter-spacing: .025em;
  margin-top: 2em;
}

ul {
  padding: 0;
  margin: 0 auto;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-top: 1em;
}

/* ------------------------------------- BOUTON CHANGE MOT DE PASSE ---------*/    
.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}
.bn38 {
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
  
.bn38:hover {
  background-color: #33ac65;
}
/*------------------------------------------------------------------------*/
/*----------------------*/

.HR2 {
  border-bottom:10px solid darkviolet;
  width: 60%;
  border-radius : 2px;
  opacity : 1;
  margin :auto; 
 }

 .bg1
 {
     background-size: cover;
     height: 990px ;
     background-position: center;
     background-repeat: no-repeat;
     
 }

 input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	
}


label#icon {
  margin: 0;
  border-radius: 5px 0 0 5px;
  }

  input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }
    input[type=password] {
    margin-bottom: 15px;
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
    }
/*------------------------------------------------------------------*/

.black{
    color:black;
}

#twitter:hover path {
  fill: #55ACEE;
}

#envato:hover path {
  fill: #82B541;
}

#codepen:hover path {
  fill: #000000;
}

header h1,
header h2,
div,
ul {
  opacity: 0;
  -webkit-animation: fade 1s linear forwards;
  -moz-animation: fade 1s linear forwards;
  animation: fade 1s linear forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}