.un_deux p,h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.un_deux p{
  font-size: 25px;
}

.deux_un .deux_trois p,h3, h4{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
  
  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 500px;
    height: 300px;
    margin-top: 10px;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  .un_deux {
    color : var(--dark); 
    border-radius: 35px;
  }

  .deux_un{
    color : var(--dark); 
    padding: 20px;
    border-radius: 2%;
    width: 45%;
    background-color: var(--lighter);
  }

  .deux_trois{
    color : var(--dark); 
    padding: 20px;
    border-radius: 2%;
    width: 45%;
    background-color: var(--lighter);
  }

  /*---------------------------------------------------modal--------------------------------*/
  .HR2 {
    border-bottom:10px  darkviolet;
    width: 80%;
    border-radius : 2px;
    margin :auto; 
     }

  .bg1
  {
    background-size: cover;
    height: 990px ;
    background-position: center;
    background-repeat: no-repeat;
  }
  
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
  }
  
  
  label#icon {
	margin: 0;
	border-radius: 5px 0 0 5px;
	}
  
	input[type=text], input[type=password] {
  width: calc(100% - 57px);
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px; 
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  background: #fff; 
  }
  input[type=password] {
  margin-bottom: 15px;
  }
  #icon {
  display: inline-block;
  padding: 9.3px 15px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  background: #1c87c9;
  color: #fff;
  text-align: center;
  }

  .compteContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    width: 80%;
    border-radius: 2%;
    margin:  200px auto 100px auto;
    padding: 100px;
  }
  .compteContainerTitle{
    font-size: 80;
    margin: 0 50px 50px 50px;
  }
  .row1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .dashboard{
    width: 100%;
    height: 100vh;
    background-color: var(--lighter);
  }

  /* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  .deux_un button{
    width :  100%;
    height: 60px;
    border-radius: 15px 15px; 
    background-color: var(--primary);
    color: var(--lighter);
  }
}
/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
  .deux_un button{
    width :  160px;
    height: 60px;
    border-radius: 15px 15px; 
    background-color: var(--primary);
    color: var(--lighter);
  }  
}
/* Pc */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  .deux_un button{
    width :  160px;
    height: 60px;
    border-radius: 15px 15px; 
    background-color: var(--primary);
    color: var(--lighter);
  } 
}