
@font-face{
	font-family: 'PTSansNarrow-Regular';
	src: url("../fonts/PTSansNarrow-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

.backButton{
	width: max-content;
	background-color: var(--primary) !important;
	color: var(--lighter);
	padding: 15px;
	font-size: 20;
	border-radius: 5%;
}
.otherButton1{
	width: max-content;
	background-color: var(--primary) !important;
	color: var(--lighter);
	margin: 0 0 0 10px;
	font-size: 20;
	border-radius: 5%;
}
.otherButton2{
	width: max-content;
	background-color: var(--primary) !important;
	color: var(--lighter);
	padding: 20px;
	font-size: 20;
	border-radius: 5%;
}
.backButton:hover{
	color: var(--lighter);
}

.cart h1{
	background-color: #000;
	font-size: 60px;
}

.containerDroit p{
	font-family:'PTSansNarrow-Regular';
}



.btnAjouter{
display: flex;
font-size: 20px;
}

.btnAjouter input{
	width: 75%;
}
.btnAjouter button{
	width: 20%;
}

.sectionValidercommande button{
	border-radius: 5%; 
	height: 38px;  
	width: 80px; align-items: center; 
	display: flex; justify-content: center; 
	font-size: 25px;
}

.sectionValidercommande {
	border-radius: 15px;  
	font-size: 19px;
}


.sectionAjouterReduction{
	border-radius: 15px; 
	font-size: 19px;
}

.sectionAjouterReduction button{
	border-radius: 5%; 
	 font-size: 19px;
	 
}
	


.clearfix {
  content: "";
  display: table;
  clear: both;	
}

#site-header, #site-footer {
	background: rgb(161, 103, 103);
}

#site-header {
	margin: 0 0 30px 0;
}

#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}



#site-header h1 span {
	color: #53b5aa;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 980px;
}

#cart {
	width: 100%;
}



#cart a {
	color: #53b5aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.cartContainer{
	height: 100% !important;
	background-color: var(--lighter);
}

.productCart.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.productCart {
	
	margin: 20px 0;
	width: 100%;
	height: max-content;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.productCart img {
	width: 100%;
	height: 100%;
	border-color: #101111;
}

.borderB{
	border-bottom: 1px solid rgb(3, 3, 3);
}

.productCart header, .productCart .content {
	background-color: var(--lighter);
	float: left;
	opacity: 95%;
}

.productCart header {
	background: #000;
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;

	height: 100%;
}

.productCart header:hover img {
	opacity: .7;
}

.productCart header:hover h3 {
	bottom: 73px;
}

.productCart header h3 {
	background: #53b5aa;
	color: rgb(2, 2, 2);
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.productCart .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	padding: 0 20px;
	width: 80%;
}

.productCart h1 {
	color: #101111;
	font-size: 30px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 17px 0 20px 0;
	text-decoration: underline;
	
}

.productCart p {
	color: #101111;
	font-size: 18px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 17px 0 20px 0;
}



.productCart footer.content {
	height: 50px;
	width: 100%;
	margin: 6px 0 0 0;
	padding: 0;
}

.productCart footer .price {
	background: #fcfcfc;
	color: rgb(62, 126, 131);
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.productCart footer .full-price {
	background: var(--primary);
	color: rgb(32, 23, 23);
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.color {
	width: 41px;
	height: 42px;
	right: 86px ;
}

.red {
	background: #cb5a5e;
}

.yellow {
	background: #f1c40f;
}

.blue {
	background: #3598dc;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}






/*-----------------------------------------MOdal-------------------*/

.HR2 {
	border-bottom:10px  darkviolet;
	width: 60%;
	border-radius : 2px;
	opacity : 1;
	margin :auto; 
   }
  
   .bg1
   {
	   background-size: cover;
	   height: 990px ;
	   background-position: center;
	   background-repeat: no-repeat;
   }
  
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
  }
  
  
  label#icon {
	margin: 0;
	border-radius: 5px 0 0 5px;
	}
  
	input[type=text], input[type=password] {
	  width: calc(100% - 57px);
	  height: 36px;
	  padding-left: 10px; 
	  border-radius: 0 5px 5px 0;
	  border: solid 1px #cbc9c9; 
	  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	  background: #fff; 
	  }
	  input[type=password] {
	  margin-bottom: 15px;
	  }
	  #icon {
	  display: inline-block;
	  padding: 9.3px 15px;
	  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	  background: #1c87c9;
	  color: #fff;
	  text-align: center;
	  }

	.modal button:hover{
		width:180px;
		height:50px;
	}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
	.panierContainer{
		width: 80%;
		height: 100%;
		display: flex;
		justify-content: center;
		margin: 200px auto 0 auto;
	}
	
	.mainContainer{
		background-color: var(--light);
		border-radius: 2%;
		width: 80%;
		padding: 20px !important;
	}
	
	.secondContainer{
		width: 100%;
		background-color: var(--light);
		border-radius: 2%;
		margin: 20px auto 0;
		padding: 20px !important;
	}
	.iJustify{
		justify-content: center;
	}
}
/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
	.panierContainer{
		width: 80%;
		height: 100%;
		display: flex;
		justify-content: center;
		margin: 200px auto 0 auto;
	}
	
	.mainContainer{
		background-color: var(--light);
		border-radius: 2%;
		width: 80%;
		padding: 20px !important;
	}
	
	.secondContainer{
		width: 100%;
		background-color: var(--light);
		border-radius: 2%;
		margin: 20px auto 0;
		padding: 20px !important;
	}
	.iJustify{
		justify-content: center;
	}
}
/* Pc */
@media only screen
and (min-width : 1224px) {
    /* Styles */
	.panierContainer{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		margin: 200px auto 0 auto;
	}
	
	.mainContainer{
		background-color: var(--light);
		border-radius: 2%;
		margin: 0 50px 0 50px;
		padding: 20px !important;
	}
	
	.secondContainer{
		width: 100%;
		background-color: var(--light);
		border-radius: 2%;
		margin: 0 50px 0 0;
		padding: 20px !important;
	}
	.containerGauche{	
		float: left;
	}
	
	.containerDroit{	
		float: right;
		margin-right: 25px;
		padding: 20px;
	}
}