.sidebar {
    width: 100px; /* Largeur initiale réduite */
    height: 100%;
    background-color: #333;
    position: fixed;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centrage horizontal des icônes et du texte */
}

.sidebar:hover {
    width: 200px; /* Largeur étendue au survol */
}

.logo {
    text-align: center;
    padding: 10px;
    color: white;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    padding: 10px;
    width: 100%;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    align-items: center; /* Centrage vertical des icônes et du texte */
    position: relative;
}

.menu i {
    margin-right: 10px; /* Espace entre l'icône et le texte */
}

.menu a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    transition: width 0.5s;
}

.menu li:hover a::before {
    width: 100%; /* Largeur de fond pour afficher le texte au survol */
}

.menu a span {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
}

.menu i::before {
    display: block; /* Masquer le texte par défaut */
    font-weight: normal;
}

.menu i::before::before {
    content: attr(data-text); /* Afficher le texte lorsque le curseur est sur le navbar */
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.logout {
    text-align: center;
    padding: 10px;
    color: white;
}
