

.procedureEnCours{
    margin : 20px;
    background: linear-gradient(to bottom,#e3e3e3, #ffffff );
    border: 1px solid #000000;
}

.procedureEnCours span {
    margin: 15px 15px 15px 15px;
}

.titreProcedures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.titreProcedures i:hover{
font-size: 50px;
background-color: aqua;
}

.menuProcedures {
    display: flex;
    flex-direction: column;
}

.menuProceduresVide {
    margin-top: 40px;
    margin-right: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuProcedures a{
    text-decoration: none;
    color: inherit;
}

.menuProceduresVide a{
    text-decoration: none;
    color: inherit;
}


.menuProcedures a:hover{
    text-decoration: none;
    color: inherit;
}

.menuProcedures i{
        font-size: 30px;
}
.menuProceduresvide i{
    font-size: 30px;
}


.menuProcedures li{
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #63BC55;
}

.menuProceduresVide li{
    margin-bottom: 40px;
    background-color: bisque;
    padding: 15px;
    border: 1px solid #63BC55;
}


@keyframes borderAnimation {
    40% {
        border-color: blue;
    }
    20% {
        border-color: green;
    }
  
}

@keyframes borderAnimation2 {
    40% {
        border-color: red;
    }
    20% {
        border-color: white;
    }
  
}

.formulaireNonPrisEnCharge{
    box-shadow: 0 0 5px red; /* Ajout d'une ombre au survol */
}

.uniteProcedure:not(.exclude-hover):hover {
    animation: borderAnimation 2s linear infinite; /* Animation de 2 secondes en boucle */
    box-shadow: 0 0 5px  #63BC55; /* Ajout d'une ombre au survol */
    transform: scale(1.02); /* Agrandissement au survol */
    background-color: #63BC55;
    color: white;
}

.uniteProcedureHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
}


.uniteProcedure {
    border: 1px solid green;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    }


    

.uniteProcedureHeader span, .uniteProcedure span {
    flex: 1;
}

.ligneFiltre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espacement entre les lignes */
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid #63BC55;
    border-radius: 10px;
    max-height: 0; /* Empêche la ligne de filtre de prendre de l'espace au début */
    overflow: hidden; /* Cache le contenu débordant */
    visibility: hidden; /* Rend la ligne invisible */
    transform: translateX(-100%); /* Déplace la ligne hors de l'écran */
    transition: transform 0.5s ease, max-height 0.5s ease, visibility 0.5s ease; /* Transitions pour les animations */
}

.formFiltre {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.formFiltre div, .formFiltreButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%; /* Largeur uniforme */
}

.formFiltre div label, .formFiltreButton label {
    color: grey;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.formFiltre input, .formFiltre select {
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    width: 100%; /* Largeur relative au div parent */
    transition: transform 0.3s ease;
    transform: scale(0.98);
}

.formFiltre input:focus, .formFiltre select:focus {
    transform: scale(1.03);
    outline: none;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, red, white);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.formFiltre button {
    padding: 10px 15px; /* Ajuster le padding pour la taille */
    background-color: #63BC55; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 5px; /* Bordures arrondies */
    font-size: 1em; /* Taille du texte */
    cursor: pointer; /* Curseur de pointeur pour indiquer qu'il est cliquable */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.formFiltre button:hover {
    background-color: #4a944a; /* Assombrir la couleur de fond au survol */
}



.ligneFiltre-hidden {
    transform: translateX(-100%); /* Déplacer la ligne de filtre à gauche */
    opacity: 0; /* Rendre la ligne de filtre transparente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition pour le glissement et l'opacité */
}

.ligneFiltre-visible {
    max-height: 200px; /* Hauteur maximale nécessaire pour afficher le contenu */
    visibility: visible; /* Rend la ligne visible */
    transform: translateX(0); /* Ramène la ligne à sa position originale */
}
