

.procedureEnCours{
    margin : 20px;
    background: linear-gradient(to bottom,#e3e3e3, #ffffff );
    border: 1px solid #000000;
}

.procedureEnCours span:first-child {
    margin: 15px 15px 15px 15px;
}

.titreProcedures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.titreProcedures i:hover{
font-size: 50px;
background-color: aqua;
}

.menuProcedures {
    margin-top: 40px;
    margin-right: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuProceduresVide {
    margin-top: 40px;
    margin-right: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuProcedures a{
    text-decoration: none;
    color: inherit;
}

.menuProceduresVide a{
    text-decoration: none;
    color: inherit;
}


.menuProcedures a:hover{
    text-decoration: none;
    color: inherit;
}

.menuProcedures i{
        font-size: 30px;
}
.menuProceduresvide i{
    font-size: 30px;
}


.menuProcedures li{
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #63BC55;
}

.menuProceduresVide li{
    margin-bottom: 40px;
    background-color: bisque;
    padding: 15px;
    border: 1px solid #63BC55;
}


@keyframes borderAnimation {
    20% {
        border-color: rgb(0, 0, 0);
    }
    20% {
        border-color: #E5004D;
    }
  
}

.menuProcedures li:not(.exclude-hover):hover {
    animation: borderAnimation 2s linear infinite; /* Animation de 2 secondes en boucle */
    box-shadow: 0 0 5px  #63BC55; /* Ajout d'une ombre au survol */
    transform: scale(1.02); /* Agrandissement au survol */
    background-color: #63BC55;
    color: white;
}

.uniteProcedure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.uniteProcedureAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.uniteProcedure > div:not(:last-child) {
    flex-basis: 35%; /* Ajustez ce pourcentage selon vos besoins */
    /* Ou vous pouvez utiliser width: calc(33.33% - 10px); */
}

.uniteProcedureAdmin > div:not(:last-child) {
    flex-basis: 50%; /* Ajustez ce pourcentage selon vos besoins */
    /* Ou vous pouvez utiliser width: calc(33.33% - 10px); */
}



.uniteProcedure > div:last-child {
    flex-grow: 1; /* Prend tout l'espace restant */
}

.uniteProcedure > div:nth-last-child(2) {
    /* Appliquez votre style spécifique ici */
    padding-left: 10%;
}
