

.procedureEnCours{
    margin : 20px;
    background: linear-gradient(to bottom,#e3e3e3, #ffffff );
    border: 1px solid #000000;
}

.procedureEnCours span {
    margin: 15px 15px 15px 15px;
}

.titreProcedures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.titreProcedures i:hover{
font-size: 50px;
background-color: aqua;
}

.menuProcedures {
    display: flex;
    flex-direction: column;
}

.menuProceduresVide {
    margin-top: 40px;
    margin-right: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuProcedures a{
    text-decoration: none;
    color: inherit;
}

.menuProceduresVide a{
    text-decoration: none;
    color: inherit;
}


.menuProcedures a:hover{
    text-decoration: none;
    color: inherit;
}

.menuProcedures i{
        font-size: 30px;
}
.menuProceduresvide i{
    font-size: 30px;
}


.menuProcedures li{
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #63BC55;
}

.menuProceduresVide li{
    margin-bottom: 40px;
    background-color: bisque;
    padding: 15px;
    border: 1px solid #63BC55;
}


@keyframes borderAnimation {
    40% {
        border-color: blue;
    }
    20% {
        border-color: green;
    }
  
}

@keyframes borderAnimation2 {
    40% {
        border-color: red;
    }
    20% {
        border-color: white;
    }
  
}

.formulaireNonPrisEnCharge{
    box-shadow: 0 0 5px red; /* Ajout d'une ombre au survol */
}

.uniteProcedure:not(.exclude-hover):hover {
    animation: borderAnimation 2s linear infinite; /* Animation de 2 secondes en boucle */
    box-shadow: 0 0 5px  #63BC55; /* Ajout d'une ombre au survol */
    transform: scale(1.02); /* Agrandissement au survol */
    background-color: #63BC55;
    color: white;
}

.uniteProcedureHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
}


.uniteProcedure {
    border: 1px solid green;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    }


    

.uniteProcedureHeader span, .uniteProcedure span {
    flex: 1;
}




.ligneFiltre {
    display: none;
    text-align: center;
}

.formFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espace entre les éléments */
}

/* Styles pour les inputs et select... */

/* Animation fadeIn */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Animation fadeOut */
@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}
